@if (isVisible) {
<section class="section" id="awards">
  <h3>Awards</h3>
  <div class="education">
    @for (item of awards; track item.name) {
    <div>
      <p>
        {{ item.name }}
        @if (item.url) {
        <a href="{{ item.url }}" target="_blank">
          <link-icon />
        </a>
        }
      </p>
      <split-width-text [leftText]="item.organization || ''">
        <date-range-display [dateRange]="item.dates"></date-range-display>
      </split-width-text>
      <highlight-list [highlights]="item.highlights || []"></highlight-list>
    </div>
    }
  </div>
</section>
}