<section class="personal-details">
  <div>
    <h1>{{ name() }}</h1>
    <div>
      <span>{{ email() }}</span>
      <span>{{ formatPhoneNumber(phone()) }}</span>
      <a href="https://{{ linkedin() }}" target="_blank"><span>LinkedIn</span></a>
      <a href="https://{{ github() }}?tab=repositories" target="_blank"><span>GitHub</span></a>
    </div>
  </div>
</section>
<main class="main">
  <section class="split">
    <h3>Bio</h3>
    <div>
      <p>{{ bio() }}</p>
    </div>
  </section>
  @for (item of skills(); track item.section_name) {
  <section class="split">
    <h3>{{ item.section_name }}</h3>
    <div>
      <p>
        {{ formatList(item.data) }}
      </p>
    </div>
  </section>
  }
  <section class="split">
    <h3>Experience</h3>
    <div class="experience">
      @for (item of experience(); track item.position) {
      <div>
        <p>
          {{ item.position }} at {{ item.company }}
        </p>
        <p>
          {{ item.location }} ({{ formatDateRange(item.dates) }})
        </p>
        <ul>
          @for (highlight of item.highlights; track highlight) {
          <li>{{ highlight }}</li>
          }
        </ul>
      </div>
      }
    </div>
  </section>
  <section class="split">
    <h3>Education</h3>
    <div class="education">
      @for (item of education(); track item.institution) {
      <div>
        <p>
          {{ item.institution }}
        </p>
        <p>
          {{ item.degree }}, {{ item.major }} ({{ formatDateRange(item.dates) }})
        </p>
        <ul>
          @for (highlight of item.highlights; track highlight) {
          <li>{{ highlight }}</li>
          }
        </ul>
      </div>
      }
    </div>
  </section>
</main>

<router-outlet />