@use './styles/mixins' as *;

:host {
  font-family: Big Caslon, Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-self: center;
  margin: 0 auto;
  padding: calc(200px + 4rem) 0 3rem;
  height: calc(100vh - 6rem - 200px);
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  color: gray;

  @media (max-width: 900px) {
    padding-top: 150px;
    height: calc(100vh - 150px - 3rem);
  }
}